.post-title {
  margin: 0;
  max-width: 520px;
  color: var(--color-white);
  font-size: 37px;
  font-weight: bold;
  line-height: 48px;
}

.post-author {
  color: var(--color-apricot);
  font-size: 12px;
  line-height: 16px;
}

.post-excerpt {
  margin-top: 75px;
  max-width: 560px;
  color: var(--color-white);
  font-size: 18px;
  line-height: 23px;
}
