.navbar {
  display: flex;
  flex-direction: row;
  height: 70px;

  .nav {
    flex: 1;
    background-color: var(--color-silver);
  }

  .navbar-brand {
    display: block;
    width: 35px;
    height: 35px;
  }

  .menu {
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;

    &-item {
      margin-left: 14px;
      margin-right: 14px;
    }

    &-link {
      padding: 4px;
      color: var(--color-white);
      font-size: 18px;
      line-height: 24px;
    }
  }

  .language-switcher {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;

    a {
      color: var(--color-red);
      font-size: 20px;
      font-weight: bold;
      line-height: 24px;
    }
  }
}
