@font-face {
  font-family: 'IBM Plex Mono Light';
  src: url(./../../assets/fonts/IBMPlexMono/IBMPlexMono-Light.ttf)
    format('truetype');
  font-display: swap;
}

:root {
  font-family: 'IBM Plex Mono Light', sans-serif;
}
